.Country {
}
.Country-Header {
}
.Country-BackButton {
  background-color: #000000;
  color: #fff;
  margin-top: 1rem;
  padding: 0.5rem;
  clip-path: polygon(0% 50%, 20% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 50%);
  border: none;
}
.Country-Name_container {
  display: flex;
  justify-content: center;
  background: #c2c8c654;
  margin: 1rem 0 0.7rem 0;
  border-radius: 1rem;
}
.Country-Name {
}
.Country-Flex {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 300px;
}
.flag-container {
  width: 600px;
  height: 300px;
}
.flag {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.Country-Flex-Headline {
  background: #c2c8c654;
  display: flex;
  border-radius: 1rem;
  padding: 0 0.7rem;
  height: 85%;
  gap: 0.5rem;
}
.value {
  font-weight: 100;
}
.light-text {
  font-weight: 100;
}
.Flex-Headline-key,
.Flex-Headline-value {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.flex-headline_items {
  display: flex;
  align-items: center;
  flex: 1;
}
.Flex-Headline-value {
}
.flex-headline_items.value {
}
.Country-Details {
  margin: 1.5rem 0;
}
/* || ANIMATION */
.slide-right {
  animation: centralize 0.9s ease 0.9s alternate both;
}
.slide-right span {
  display: inline-block;
  transform: translateX(-50%);
}
/* || ANIMATION KEYFRAMES */
@keyframes centralize {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 1;
  }
}

/* Mobile Responsiveness */
@media only screen and (max-width: 768px) {
  .Country {
    width: 20rem;
    margin-top: 0.5rem;
  }
  .Country-BackButton {
    padding: 0.45rem;
  }
  .Country-Flex {
    flex-direction: column;
    gap: 0.7rem;
    height: 18rem;
    width: 19.5rem;
    padding: 1rem 0;
  }
  .flag-container {
    height: 150px;
    width: 300px;
  }
  .Country-Flex-Headline {
    background: #c2c8c654;
    padding: 0.2rem 0.7rem;
    gap: 1rem;
  }
  .Country-Details {
    margin: 1rem 0;
  }
}
