.Header {
  color: var(--white-back);
  display: inline-block;
  margin: 0.5rem 0 0 0.5rem;
  /* position: relative; */
  /* width: 100%; */
  /* top: 0;
  left: 0; */
  font-size: calc(20px + 2vmin);
}
@media screen {
  .Header {
    /* margin: 1.5rem 0 0 1rem; */
    /* background: red; */
  }
}
