.ErrorMessageTitle {
  color: red;
  margin-top: 1rem;
}
.ErrorFixSuggestion {
  color: rgb(8, 70, 8);
  font-weight: 300;
  background: rgba(0, 255, 0, 0.075);
  min-width: 35rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
.HttpError button {
  display: grid;
  padding: 0.5rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  border-radius: 0.7rem;
  outline: 0.1rem solid #000;
  border: none;
}
.HttpError a {
  text-decoration: none;
}
.HttpError button:hover {
  background: #000;
  color: #fff;
}
