.App-main {
  /* FIXME: Use this color for dark mode */
  /* max-height: 30rem; */
  margin: 1.5rem auto;
  min-height: 95vh;
  /* width: 70rem; */
  width: fit-content;
  background: red;
  /* background: #b0b0aa2a; */
  border-radius: 0.8rem;
  /* padding: 1rem 20rem; */
  padding: 0 4rem;
  display: grid;
  place-content: center;
  font-size: calc(10px + 2vmin);
}
.App-empty-search_Error {
  color: red;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (min-width: 300px) and (max-width: 415px) {
  .App-main {
    /* padding: 0 15rem; */
    /* width: 20em; */
  }
}
