.App {
  /* text-align: center; */
}
.App-main {
  /* background-color: #282c34; */
  background: #b0b0aa2a;
  width: 40rem;
  border-radius: 0.8rem;
  padding: 1rem 2rem;
  font-size: calc(10px + 2vmin);
}
.App-link {
  color: #61dafb;
}
.App-empty-search_Error {
  color: red;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
