:root {
  /* CSS HEX FOR LIGHT THEME*/
  --body-bg: #fff;
  --white-black: #000;
  --Map-Link: #0000ff;
  --input-outline: #0086c4;
  --input-outline-height: 0.1rem;
  --submitButton-outline: #ffaa00;
  --submitButton-outline-height: 0.2rem;
}

.dark-theme {
  /* CSS HEX  FOR DARK THEME*/
  --body-bg: #2f313cff;
  --white-black: #fff;
  --Map-Link: #0091ff;
  --input-outline: #f6c155d8;
  --input-outline-height: 0.2rem;
  --submitButton-outline: #0086c4;
  --submitButton-outline-height: 0.025rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* DISABLING USER-TEXT-SELECTION */
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: var(--body-bg);
  font-family: "Ubuntu";
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
