.ErrorMessageTitle {
  color: red;
  margin-top: 1rem;
}
.ErrorFixSuggestion {
  font-weight: 300;
  /* color: rgb(8, 70, 8); */
  /* background: rgba(0, 255, 0, 0.075); */
  color: var(--error-suggestion-text);
  background: var(--error-suggestion-bg);
  width: 35rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
.ErrorMessageTitle .Mobile-warning {
  display: none;
}

/* Mobile Responsiveness */
@media screen and (max-width: 415px) {
  .ErrorFixSuggestion {
    inline-size: 19.5rem;
    overflow: break-word;
  }
  .ErrorMessageTitle .Destop-warning {
    display: none;
  }
  .ErrorMessageTitle .Mobile-warning {
    display: inline-block;
  }
}
