.Page404-Header {
  height: 30vh;
  margin: 2rem 0 7rem 0;
  font-size: 10rem;
  font-weight: 300;
  text-align: center;
}
.Page404-description {
  font-size: 4rem;
  font-weight: 100;
}
.Page404-Header,
.Page404-text,
.Page404-description {
  color: var(--white-black);
}
