/* .Page404 button {
  display: grid;
  padding: 0.7rem;
  margin-top: 2rem;
  font-size: 1.1rem;
  border-radius: 0.7rem;
  outline: 0.1rem solid #000;
  border: none;
}
.Page404 a {
  text-decoration: none;
} */
.Page404-Header {
  height: 30vh;
  margin: 2rem 0 7rem 0;
  font-size: 10rem;
  font-weight: 300;
  text-align: center;
}
.Page404-description {
  font-size: 4rem;
  font-weight: 100;
}
.Page404-Header,
.Page404-text,
.Page404-description {
  color: var(--white-black);
}
