.ReturnHomeButton {
  margin-top: 1rem;
  background: var(--white-black);
  color: var(--black-white);
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.7rem;
}
.ReturnHomeButton:focus {
  outline: solid 0.1rem var(--white-black);
  outline-offset: 0.19rem;
}
