.Theme-Toggle_Button {
  height: 2.7rem;
  width: 2.7rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  /* padding: 0.1rem; */
  background: #8080802f;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}
.Theme-Toggle_Icon {
  height: 2rem;
  width: 2rem;
}
.Theme-Toggle_Button:hover {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;

  /* border-radius:
   50%; */
}
.Theme-Toggle_Icon:hover {
  /* padding: 0.3rem; */
}
